/* general settings to make things more predictable */

body {
    margin: 0px;
    padding: 0px;
}
/* general */
p {
    font-family: 'Montserrat', sans-serif;
    font-size:30px;
    margin-top:6px;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size:90px;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size:30px;
    margin-top:6px;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size:30px;
    margin:auto;
}
/* themes */
.standard {
    color:rgba(0,0,0,0);
}
.colorblind {
    color:black;
} 
/* colors */
/* background */
body {
  background-color:#CCC8C8;
}
/* text */
h1{
    color:#3A3838;
}
/* main menu */
#main-menu{
    background-color: #fff;
}
.main-menu-item{
    background-color:#fff;
    border: solid 10px #3A3838;
}
/* main game area */
/* mentor helped me position the text correctly nishant kumar helped me understand the problem I was having and told me a better way.*/
#text-positioner{
    position: relative;
    width: 629px;
    height: 610px;
    margin: auto;
}
.button-text {
    position:absolute;
    z-index:999;
    cursor:pointer;
}
#highscore-text-position{
    top:16%;
    left:39%;
}
#play-again-text-position{
    top: 80%;
    left: 38%;
}
#red-text-position{
    top:16%;
    left:46%;
}
#yellow-text-position{
    top: 48%;
    left: 9%;
}
#blue-text-position{
    top: 48%;
    left: 74%;
}
#green-text-position{
    top: 80%;
    left: 41%;
}
#red{
    background-color:#FDB5B5;
    border:solid #F90A0A 20px;
}
#yellow{
    background-color:#FCFAB3;
    border:solid #F6EE04 20px;
}
#blue{
    background-color:#B2B5FE;
    border:solid #030BFC 20px;
}
#green{
    background-color:#B3FFB3;
    border:solid #04FF04 20px;
}
#middle{
    background-color:#fff;
    border: solid 10px #3A3838;
}
/* main menu animation colors */
#red:hover{
    background-color: #F90A0A;
}
#yellow:hover{
    background-color: #F6EE04;
}
#blue:hover{
    background-color: #030BFC;
}
#green:hover{
    background-color: #04FF04;
}
#middle:hover{
    background-color:#CCC8C8;
     
}
.main-menu-item:hover{
    background-color:#CCC8C8;
}
/* borders */
#main-menu{
    border: solid 10px #3A3838;
}
#main-game{
    border: solid 10px #3A3838;
}
/* score */
#score{
    background-color:#fff;
    border: solid 10px #3A3838;
}
/* main menu positioning and design */
#main-menu{
    margin:auto;
    margin-top:200px;
    display:flex;
    width:610px;
    height:110px;
    flex-wrap:wrap;
}
.main-menu-item{
    width:300px;
    height:50px;
    margin:-10px;
    text-align:center;
}
#main-menu-top-right{
    margin-left:0px;
}
#main-menu-bottom-left{
    margin-top:0px;
}
#main-menu-bottom-right{
    margin-left:0px;
    margin-top:0px;
}
/* main menu animations */
.main-menu-item:hover{
    cursor:pointer;
}
/* main game */
.triangle-buttons{
    cursor:pointer;
}
#text-positioner > h2{
    pointer-events: none;
}
#middle > h1 {
    pointer-events:none;
}
#main-game{
    width:610px;
    height:610px;
    margin-top:-10px;
    overflow:hidden;  
}
.triangle-buttons{
    width:610px;
    height:610px;
    transform:rotate(45deg);
    transition:0.5s;
}
#red{
    margin-top:-479px;
    margin-left:-19px;
}
#yellow{
    margin-left:-479px;
    margin-top:-190px;
}
#blue{
    margin-left:440px;
    margin-top:-650px;
}
#green{
    margin-top:-190px;
    margin-left:-19px;
}
#middle{
    height:150px;
    width:150px;
    background-color: #fff;
    position:relative;
    border-radius: 50%;
    z-index:999;
    margin-top:-870px;
    margin-left:225px;
    text-align:center;
}
#play{
    font-size: 50px;
    margin-top: 45px;
}
#timer{
    margin-top: 17px;
}
/* main game animations */
#red:hover{
    cursor:pointer;
}
#yellow:hover{
    cursor:pointer;
}
#blue:hover{
    cursor:pointer;
}
#green:hover{
    cursor:pointer;
}
#middle:hover{
    cursor:pointer;  
}
/* score */
#score{
    margin:auto;
    margin-top:10px;
    width:610px;
    height:50px;
    text-align:center;
}
/* pause menu */
#unpause{
    width:630px;
    height:610px;
    position:absolute;
    background-color: #000;
    opacity:0.5;
    color:#fff;
    text-align: center;
    z-index: 20;
    margin-top:10px;;
}
.invisible{
    display:none;
}
@media screen and (max-height:1200px){
    #main-menu{
        margin-top:200px;
    }
    body{
        zoom:120%;
    }
}
@media screen and (max-height: 1000px){
    body{
        zoom:100%;
    }
    #main-menu{
        margin-top:50px;
    }
}
@media screen and (max-height: 800px)  {
    body{
        zoom:75%;
    }
}